<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NesTVConStr"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\moti\source\repos\NesTv_MR_Interface\NesTv_DB\HW3_SQL_NEW.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

